.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 2vw 1vw 1vw 1vw;
    margin: 1vw;
    background-color: rgba(255, 251, 251, 0.322);
    width: 17vw;
    height: 18vw;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 4px 3px 5px rgba(241, 220, 220, 0.473), -4px -3px 5px rgba(224, 210, 210, 0.479);
}

.image-wrapper {
    width: 100%;
    height: 100%;
}

.card-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

h4 {
    font-size: 2vw;
}

.skill-title-wrapper {
    margin-top: 10px;
    height: 40%;
}