html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mansalva', cursive;

}

.App {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 3rem;
}