html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mansalva', cursive;
  scroll-behavior: smooth;
  color: #F7A7A7;
}

.App {
  text-align: center;
}

h1 {
  font-size: 4.5vw;
  margin-bottom: 20px;
}

h2 {
  font-size: 3.1vw;
  margin-bottom: 10px;
}

h3 {
  font-size: 3vw;
}